.idea/
frontend/node_modules
frontend/*.log*
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/.output
frontend/.env
frontend/dist
frontend/package-lock.json
backend/log/
backend/static/
backend/public/
backend/config/config.toml
backend/blog
